body {
    width: 100%;
    height: 100%;
    font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    background: #F1FB78;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

img.logoimg {
    width: 30px;
    display: inline-block;
}

img.menu-icon {
    width: 24px;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    letter-spacing: 1px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #F1FB78;
    padding: 20px;
}

    .navbar-custom .navbar-toggle {
        color: white;
        background-color: black;
        font-size: 12px;
    }

        .navbar-custom .navbar-toggle:focus,
        .navbar-custom .navbar-toggle:active {
            outline: none;
        }

    .navbar-custom .navbar-brand {
        font-weight: 700;
    }

        .navbar-custom .navbar-brand:focus {
            outline: none;
        }

    .navbar-custom a {
        color: #1E1F0F;
    }

    .navbar-custom .nav li a {
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out;
    }

        .navbar-custom .nav li a:hover {
            color: #F1FB78;
            outline: none;
            background-color: #979D4B;
        }

        .navbar-custom .nav li a:focus,
        .navbar-custom .nav li a:active {
            outline: none;
            background-color: transparent;
        }

    .navbar-custom .nav li.active {
        outline: none;
    }

        .navbar-custom .nav li.active a {
            background-color: #F1FB78;
            color: #000;
        }

            .navbar-custom .nav li.active a:hover {
                background-color: white;
                color: #000;
            }

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

#mapDurban {
    height: 400px;
    margin-top: 5px;
}

#mapWestville {
    height: 400px;
    margin-top: 5px;
}

.map-section .siteinfo {
    color: #1E1F0F;
}

.map-section .sitedetail {
    font-size: 24px;
}

.pageheader {
    font-size: 48px;
}

.videoAnnouncement {
    padding: 20px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.meetingNow {
    display: none;
}

.meetings-header {
    margin-bottom: 20px;
}

.show-if-small-div, .show-if-small-span {
    display: none;
}

#meetings-section .meetingNow span {
    display: block;
    text-align: center;
    background-color: #1E1F0F;
    color: #F1FB78;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

    #meetings-section .meetingNow span.onerow {
        display: none;
    }

#about-section img.gallery-img {
    margin-top: 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
}

@media screen and (max-height: 800px) {
    .navbar-custom {
        padding: 5px;
    }
}

@media screen and (max-width: 1000px) {
    .hide-if-small {
        display: none;
    }

    .show-if-small-div {
        display: block;
    }

    .show-if-small-span {
        display: inline-block;
    }

    #meetings-section h1.pageheader {
        font-size: 30px;
    }

    #meetings-section .countdown h3 {
        font-size: 20px;
    }

    #meetings-section h1 {
        font-size: 20px;
    }

    #meetings-section .sitedetail {
        font-size: 16px;
    }

    #meetings-section .countdown h3 {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 16px;
    }

    #meetings-section .siteinfo h1 {
        margin-top: 0px;
    }

    #meetings-section .meetingNow h3 {
        font-size: 30px;
    }

    #meetings-section .meetingNow span {
        display: block;
        padding: 20px;
    }

    #mapDurban {
        height: 300px;
        margin-top: 5px;
    }

    .countdown-horizontal {
        display: none;
    }
}

@media screen and (max-width: 770px) {
    .hide-if-super-small {
        display: none;
    }

    #meetings-section h1.pageheader {
        font-size: 24px;
    }

    #meetings-section .meetingNow h3 {
        font-size: 24px;
    }

    #meetings-section .meetingNow span.tworows {
        display: none;
    }

    #meetings-section .meetingNow span.onerow {
        display: block;
    }

    .countdown-vertical {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .countdown-vertical {
        display: none;
    }

    .countdown-horizontal {
        display: block;
    }
}

@media screen and (max-width: 480px), screen and (max-height: 600px) {
    #contact-section h2 {
        font-size: 20px;
    }

    #meetings-section h1.pageheader {
        font-size: 20px;
    }

    #about-section h2 {
        font-size: 20px;
    }

    #about-section p {
        font-size: 16px;
    }

    .fp-controlArrow.fp-prev {
        left: 15px;
        width: 0;
        border-width: 15px 15px 15px 0;
        border-color: transparent #fff transparent transparent;
    }

    .fp-controlArrow.fp-next {
        right: 15px;
        border-width: 15px 0 15px 15px;
        border-color: transparent transparent transparent #fff;
    }

    #mapDurban {
        height: 100px;
    }
}

video {
    width: 100%;
    height: auto;
}
