body {
	width: 100%;
	height: 100%;
	font-family: OpenSans-Regular;
	color: black;
	background: #FFF;
	overflow: hidden;
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}


/*FONTS*/

.monteserrat {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
	font-family: OpenSans-Regular;
	src: url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: OpenSans-Bold;
	src: url('../fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
}

.open-sans-regular {
	font-family: OpenSans-Regular;
}

.open-sans-bold {
	font-family: OpenSans-Bold;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
}

p {
	margin: 0 0 25px;
	line-height: 1.5;
    font-size: 14px;
}

.text-white {
	color: #FFFFFF !important;
}

.text-orange {
	color: #E95542 !important;
}

img.logoimg {
	width: 30px;
	display: inline-block;
}

img.menu-icon {
	width: 24px;
}

.light {
	font-weight: 400;
}


/*CUSTOM NAVBAR*/

.navbar-custom {
	letter-spacing: 1px;
	margin-bottom: 0;
	text-transform: uppercase;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #FFFFFF;
	padding: 10px;
	border-bottom: solid 1px #ededed;
}

.navbar-custom .navbar-toggle {
	color: white;
	background-color: #EC612E;
	font-size: 12px;
}

.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
	outline: none;
}

.navbar-custom .navbar-brand {
	font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
	outline: none;
}

.navbar-custom a {
	color: #4c4c4c;
}

.navbar-custom .nav li a {
	font-size: 11px;
	font-family: opensans-regular;
}

.navbar-custom .nav li a:hover {
	outline: none;
	background-color: #E54C3C;
	color: #FFFFFF !important;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: none;
	background-color: transparent;
}

.navbar-custom .nav li.active {
	outline: none;
}

@media (max-width: 1200px) {
	.navbar-header {
		float: none;
	}
	.navbar-left, .navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in {
		display: block !important;
	}
}

ul.nav.navbar-nav {
	font-size: 12px;
}

.absolute-navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#map {
	width: 100%;
	height: 200px;
	margin-top: 100px;
}

#mapDurban {
	height: 400px;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-left: 25px;
}

#mapWestville {
	height: 400px;
	margin-top: 5px;
}

.map-section .siteinfo {
	color: #1E1F0F;
}

.map-section .sitedetail {
	font-size: 24px;
}

.pageheader {
	font-size: 38px;
}

.videoAnnouncement {
	padding: 20px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.meetingNow {
	display: none;
}

.meetings-header {
	margin-bottom: 20px;
}

.show-if-small-div, .show-if-small-span {
	display: none;
}

#meetings-section .meetingNow span {
	display: block;
	text-align: center;
	background-color: #1E1F0F;
	color: #F1FB78;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
}

#meetings-section .meetingNow span.onerow {
	display: none;
}

#about-section img.gallery-img {
	margin-top: 20px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	max-height: 200px;
}

@media screen and (max-height: 800px) {
	.navbar-custom {
		padding: 5px;
	}
}

@media screen and (max-width: 1000px) {
	.hide-if-small {
		display: none;
	}
	.show-if-small-div {
		display: block;
	}
	.show-if-small-span {
		display: inline-block;
	}
	h1.pageheader {
		font-size: 30px;
	}
	#meetings-section .countdown h3 {
		font-size: 20px;
	}
	#meetings-section h1 {
		font-size: 20px;
	}
	#meetings-section .sitedetail {
		font-size: 16px;
	}
	#meetings-section .countdown h3 {
		margin-bottom: 0px;
		margin-top: 0px;
		font-size: 16px;
	}
	#meetings-section .siteinfo h1 {
		margin-top: 0px;
	}
	#meetings-section .meetingNow h3 {
		font-size: 30px;
	}
	#meetings-section .meetingNow span {
		display: block;
		padding: 20px;
	}
	#mapDurban {
		height: 300px;
		margin-top: 5px;
	}
}

@media screen and (max-width: 770px) {
	.hide-if-super-small {
		display: none;
	}
	h1.pageheader {
		font-size: 24px;
	}
	#meetings-section .meetingNow h3 {
		font-size: 24px;
	}
	#meetings-section .meetingNow span.tworows {
		display: none;
	}
	#meetings-section .meetingNow span.onerow {
		display: block;
	}
	.countdown-vertical {
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.countdown-vertical {
		display: none;
	}
	.countdown-horizontal {
		display: block;
	}
}

@media screen and (max-width: 480px), screen and (max-height: 600px) {
	#contact-section h2 {
		font-size: 20px;
	}
	h1.pageheader {
		font-size: 20px;
	}
	#about-section h2 {
		font-size: 20px;
	}
	#about-section p {
		font-size: 16px;
	}
	.fp-controlArrow.fp-prev {
		left: 15px;
		width: 0;
		border-width: 15px 15px 15px 0;
		border-color: transparent #fff transparent transparent;
	}
	.fp-controlArrow.fp-next {
		right: 15px;
		border-width: 15px 0 15px 15px;
		border-color: transparent transparent transparent #fff;
	}
	#mapDurban {
		height: 250px;
	}
}

video {
	width: 100%;
	height: auto;
}

.dropdown-menu {
	background: #FFFFFF;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.dropdown-menu>li>a:hover {
	color: #FFF !important;
}


/*custom sections*/

.main-section {
	background-image: url('/img/cover-page.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 400px;
}

.cover-page {
	background-image: url('/img/cover-page.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 400px;
	height: 100vh;
	width: 100%;
}

.slider-image-one {
	background-image: url('/img/Pic1.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 400px;
	height: 100vh;
	width: 100%;
}

.slider-image-two {
	background-image: url('/img/cover-page.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 400px;
	height: 100vh;
	width: 100%;
}

.slider-image-three {
	background-image: url('/img/Pic3.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: bottom;
	min-height: 400px;
	height: 100vh;
	width: 100%;
}

.slider-image-four {
	background-image: url('/img/Pic16.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-position: center;
	min-height: 400px;
	height: 100vh;
}

.slider-image-five {
	background-image: url('/img/Pic17.png');
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-position: center;
	min-height: 400px;
	height: 100vh;
}

.section-giving {
	background-image: url('/img/Pic28_2.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 400px;
	height: 100vh;
	width: 100%;
	color: #FFFFFF;
}

.connect-bg {
	background-image: url('/img/durban_connect.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 400px;
	height: 45vh;
    position:absolute;
    top:0;
}

.olkids-bg {
	background-image: url('/img/Pic29.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 400px;
	height: 100vh;
	width: 100%;
	color: #FFFFFF;
}

.fusion-bg {
	background-image: url('/img/Pic16.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 400px;
	height: 100vh;
	width: 100%;
	color: #FFFFFF;
}


.teams-bg {
	background-image: url('/img/Pic31_no_text.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 400px;
	height: 45vh;
    position:absolute;
    top:0;
}


.main-slider-container {
	padding: 0;
}


.centered-block{
 display: block;
 margin: auto;
 text-align: center;
}

/*section*/


/*override fixes*/

#info {
	margin-top: -3px;
}

ul.nav.navbar-nav {
	margin-top: 3px;
}

.social-anchor {
	margin-top: -3px !important;
	background-color: transparent !important;
}

.social-anchor:hover {
	background-color: transparent !important;
}


/*BACKGROUNDS*/

.neo-sunset {
	background: rgb(232, 79, 58);
	background: -moz-linear-gradient(-45deg, rgba(232, 79, 58, 1) 0%, rgba(230, 77, 61, 1) 18%, rgba(248, 134, 16, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(232, 79, 58, 1) 0%, rgba(230, 77, 61, 1) 18%, rgba(248, 134, 16, 1) 100%);
	background: linear-gradient(135deg, rgba(232, 79, 58, 1) 0%, rgba(230, 77, 61, 1) 18%, rgba(248, 134, 16, 1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e84f3a', endColorstr='#f88610', GradientType=1);
}

.white-bg {
	background: #FFFFFF;
}

.red-bg {
	background: #e84f3a;
	color: #FFFFFF;
}

.black-bg {
	background: #252525;
	color: #FFFFFF;
}

.violet-bg {
	background: #3c1e8c;
	color: #FFFFFF;
}

.text-violet{
    color:
}

.orange-bg {
	background: #FCA021;
	color: #FFFFFF;
}

.latte-bg {
	background: #9E7D71;
	color: #FFFFFF;
}


/*BOXES VIEWHEIGHT*/

.box {
	height: 100vh;
	padding-top: 35vh;
}

.box-1 {
	height: 100vh;
	padding-top: 22vh;
}

.box-2 {
	height: 100vh;
	padding-top: 20vh;
}

.box-3 {
	height: 100vh;
	    padding-top: 65vh;
}

.playoverlay {
	position: absolute;
	z-index: 9999;
	color: #FFF;
	width: 100%;
	height: 100%;
}

.playoverlay a {
	color: #FFF;
}

.playbutton {
	position: absolute;
	top: 33%;
	left: 40%;
	cursor: pointer;
}

.playbutton img {
	width: 150px;
}

.padding-10-all {
	padding: 10px;
}

.text-center {
	text-align: center;
}

.solid-white-border {
	border: solid 4px #FFF;
	width: 90%;
	padding: 0px;
	margin-left: 5%;
}

.btn-transparent {
	background: transparent;
	color: #FFF;
	border: solid 4px #FFF;
}

.btn-transparent:hover {
	background: #FFF;
	color: #E84F3A;
	border: solid 4px #FFF;
}


/*MARGINS*/

.margin-25-bottom {
	margin-bottom: 25px;
}

.margin-10-all {
	margin: 10px;
}

.margin-25-negative-top {
	margin-top: -25px;
}

.center-block {
	display: block;
	margin: block;
}


/*Images*/

.image-max-height-fix {
	max-height: 200px;
}


/*bootstrpa navbar fix*/

@media (max-width: 768px) {
	.navbar-header {
		float: none;
	}
	.navbar-left, .navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in {
		display: block !important;
	}
}

#fullpage {
	margin: auto !important;
}

.tool-prev {
	position: absolute;
	top: 45%;
	left: 2%;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	font-size: 72px;
	color: #E84F3A;
}

.tool-prev:hover {
	color: #E84F3A;
}

.tool-prev img {
	width: 80px;
}

.tool-next {
	position: absolute;
	top: 45%;
	right: 2%;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	font-size: 72px;
	color: #E84F3A;
}

.tool-next:hover {
	color: #E84F3A;
}

.tool-next img {
	width: 80px;
}

.tool-previous {
	position: absolute;
	top: 45%;
	left: 2%;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	font-size: 72px;
	color: #E84F3A;
}

.tool-previous:hover {
	color: #E84F3A;
}

.tool-previous img {
	width: 80px;
}

.tool-nextous {
	position: absolute;
	top: 45%;
	right: 2%;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	font-size: 72px;
	color: #E84F3A;
}

.tool-nextous:hover {
	color: #E84F3A;
}

.tool-nextous img {
	width: 80px;
}

.padding-bottom-300 {
	padding-bottom: 300px
}

@media(max-width:769px) {
	.banner-social-buttons li {
		display: block;
		margin: 5px auto;
		max-width: 200px;
	}
	.banner-social-buttons li a {
		width: 100%;
		margin: 5px auto;
	}
	#contactInfo {
		text-align: center;
		margin-left: 0;
	}
	.tool-prev {
		display: none;
	}
	.tool-next {
		display: none;
	}
	.padding-bottom-300 {
		padding-bottom: 20px;
	}
}

#contactInfo a {
	color: #FFF;
}

.row-fix-margin-auto {
	margin-right: auto;
	margin-left: auto;
}

.responsive-padding-100 {
	padding: 100px;
}

@media(max-width:768px) {
	.responsive-padding-100 {
		padding: 0;
	}
}

footer {
	padding: 10px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}