doctype html
html(ng-app='softApp')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    title ONE LIFE CHURCH - DURBAN
    meta(name='author', content='')
    meta(name='description', content='')
    meta(name='keywords', content='')
    link(href="favicon.ico" rel="shortcut icon")
    link(href='assets/styles/css/lib.css', rel='stylesheet')
    link(href='assets/styles/css/one-life.css', rel='stylesheet')   
    link(href='assets/styles/css/style.css', rel='stylesheet')
    include views/navigation/navbar.pug
    include views/fullpage/fullpage-parent.pug
    script(src='assets/scripts/js/lib.js')
    script(src='assets/scripts/js/script.js')
    script(src='assets/scripts/js/onelife.min.js')
    script(src='assets/scripts/js/analytics.js')
