
#aboutSection.section(data-anchor='about')
  .container-fluid
    div
      .section-slider
        div
          div
            h1.text-center About Us
          .row
            .col-sm-12.responsive-padding
              p.open-sans-regular.text-center
                | One Life Church meets in a number of sites all around KZN. The church has been going since 1974 and has been in Durban since 2015.
                br
                |  The pictures will give you a bit of an introduction to who we are and what we are passionate about. Slide across to find out more about us.
          .row
            .pic-slider
              div
                img.img-responsive.center-block.image-max-height-fix(src='/assets/media/img/Pic5.jpg', alt='')
              div
                img.img-responsive.center-block.image-max-height-fix(src='/assets/media/img/Pic6.jpg', alt='')
              div
                img.img-responsive.center-block.image-max-height-fix(src='/assets/media/img/Pic7.jpg', alt='')
              div
                img.img-responsive.center-block.image-max-height-fix(src='/assets/media/img/Pic8.jpg', alt='')
              div
                img.img-responsive.center-block.image-max-height-fix(src='/assets/media/img/Pic9.jpg', alt='')
              div
                img.img-responsive.center-block.image-max-height-fix(src='/assets/media/img/Pic10.jpg', alt='')
              div
                img.img-responsive.center-block.image-max-height-fix(src='/assets/media/img/Pic11.jpg', alt='')
              div
                img.img-responsive.center-block.image-max-height-fix(src='/assets/media/img/Pic12.jpeg', alt='')
        div
          h1.text-center.open-sans-regular One Life Music
          h3.text-center.open-sans-regular Download Music for Free
          .row
            .col-md-6
              a(href='http://onelifechurch.org.za/one-life-music/', target='_blank')
                img.img-responsive.responsive-image-fix(src='/assets/media/img/downloadWorshipMusic.jpg', alt='Download Worship Music')
            .col-md-6
              br.visible-sm.visible-xs
              p.open-sans-regular.centered-text-on-small  Get access to great resources for your church and your worship team.
        div
          h1.text-center.open-sans-regular.h1mobileFix Destiny Leadership Academy
          h3.text-center.open-sans-regular.h3mobileFix  Adventure | Fun | Travel
          .row
            .col-md-6
              a(href='http://destiny.onelifechurch.org.za/', target='_blank')
                img.img-responsive.responsive-image-fix(src='/assets/media/img/dlaSlider.jpg', alt='Destiny Leadership Academy')
            .col-md-6
              br.visible-xs
              p.open-sans-regular.centered-text-on-small
                | Destiny Leadership Academy provides young people with a focused opportunity to develop within the heart of a vibrant, Gospel-centered, mission oriented local church community.
