#connectSection.section(data-anchor='connect')
  .container-fluid
    .box
      .top.bg-cover.connect-bg.connect-fix
      .bottom.connect-fix
        h1.text-center CONNECT
        p.text-center
          | We meet in small groups in various homes around the city to build friendships and grow in our faith.
        p.text-center
          | Contact 
          b Ruth
          |  on 
          b 072 372 9120
          |  to find one that meets in your area.
