#eventsSection.section(data-anchor='events')
  .container-fluid.container-fluid-no-padding
    h1.text-center.hidden-lg.hidden-md Upcoming Events
    .events-section-slider
      div
        img.img-responsive.centered-block.event-image(src='/assets/media/img/Pic16.jpg')
