#fusionSection.section.bg-cover.fusion-bg(data-anchor='fusion')
  .container-fluid(style='margin-top:50px')
    .row
      h3.text-center THE
    .row.row-fix
      .fusion-header-container.col-md-4.col-md-offset-4
        h1.text-center.fusion-header FUSION
    .row
      h3.text-center YOUTH MOVEMENT
    .row
      h3.text-center
        | EVERY FRIDAY @
        br.visible-xs
        |  6:30PM - 8:30PM
    .row
      h3.text-center 66 MARGARET
      h3.text-center MAYTOM AVENUE
      h3.text-center DURBAN NORTH
    .row
      h3.text-center 12 - 18 YEARS OLD
