#givingSection.section(data-anchor='giving')
  .container-fluid
    .box
      .top.bg-cover.giving-bg.giving-fix
      .bottom.giving-fix
        h1.text-center GIVING
        h4.text-center  If you would like to give financially, here are our banking details
        br
        .col-md-3.col-md-offset-2.text-center.line-height-point-five-responsive
          p
            b Durban Tithe Account
          p  First National Bank
          p  Branch Code: 250655
          p  Account Number: 62447996846
          br
        .col-md-3.col-md-offset-2.text-center.line-height-point-five-responsive
          p
            b Durban Building Fund Account
          p  First National Bank
          p  Branch Code: 250655
          p  Account Number: 62555543521
          br
