#intro.section(data-anchor='intro')
  .container-fluid.container-fluid-no-padding
    .main-section-slider
      .slider-image.bg-cover.trees-bg
        .slider-image-content.full-width.full-height.center
          .container
            h1.nimbus-roman.text-white.text-center KNOWING GOD
            h3.nimbus-roman.text-white.text-center
              i a series on the attributes of God
      .slider-image.bg-cover.pos-bg
