#olkidsSection.section(data-anchor='olkids')
  .container-fluid
    .box
      .top.bg-cover.olkids-bg.kids-fix
        .slider-image-content
          img.img-responsive.centered-block.fix-size-img-500(src='/assets/media/img/Pic30_inverted.png')
      .bottom.kids-fix
        h1.text-center ONE LIFE KIDS
        p.text-center
          | We are super passionate about all of our kids and believe that helping them discover who Jesus is, it&apos;s absolutely central to them walking out a passionate life with Him no matter what their age is. Games, worship, friends and a fun, new lessons every week. Your kids can be a part of one of our two groups.
        .row.row-fix
          .col-xs-6
            h4.text-center AGES 1-4
            .centered-block
              a(href='#')
                img.img-responsive.centered-block(src='/assets/media/img/Pic26.JPG')
          .col-xs-6
            h4.text-center AGES 5-12
            .centered-block
              a(href='#')
                img.img-responsive.centered-block(src='/assets/media/img/Pic26.JPG')
