#locationSection.section.sand-bg(data-anchor='location')
  .container-fluid.container-fluid-no-padding
    .box
      .left.red-bg
        h1.text-center.open-sans-regular WHERE WE MEET
        p.sitedetail.open-sans-regular.text-center.responsive-padding(style='padding: 10px')
          | We meet every 
          b Sunday
          |  morning at 
          b 9am
          |  at THE WAVEHOUSE, Gateway Theatre of Shopping. Parkade A, Entrance 8
        br
        .centered-block.hidden-lg.hidden-md.visible-sm.visible-xs
          a.btn.btn-transparent(href='geo:0,0?q=17+Ennisdale+Dr,+Durban+North,+4051') GET DIRECTIONS
      .col-md-6.col-md-offset-6.container-fluid-no-padding.hidden-sm.hidden-xs.visible-lg.visible-md
        .embed-responsive.embed-responsive-16by9
          iframe(src='https://www.google.com/maps/embed/v1/place?key=AIzaSyDLqJP-1riXglo_VecsIY33LRP4n0Y6Iik&q=Gateway+Theatre+of+Shopping')
