#powerofsixtySection.section(data-anchor='powerofsixty')
  .container-fluid
    .box
      .top.bg-cover.power-of-sixty
      .bottom
        h1.text-center POWER OF 60
        p.text-center
          | We are encouraging every person to commit 60 minutes of their time into one of our 3 community projects.
          br
          |  Sizokhula: Children&rsquo;s Aftercare and Feeding Scheme, Thembela Old Age Home and Golden Hours School for children with special needs.
          br
          |  Contact 
          b Veronica Webb
          |  on 
          b 082 060 2450
          |  to find out how you can be involved in changing someone&rsquo;s life.
