#olteamsSection.section(data-anchor='olteams')
  .container-fluid
    .box
      .top.bg-cover.our-teams.team-fix
      .bottom.team-fix
        h1.text-center ONE LIFE TEAMS
        p.text-center  Give us a call and we&rsquo;ll tell you how you can be involved in one of our teams.
