#fullpage
 include ../sections/intro-section.pug
 include ../sections/about-section.pug
 include ../sections/location-section.pug
 include ../sections/app-section.pug
 include ../sections/giving-section.pug
 include ../sections/connect-section.pug
 include ../sections/events-section.pug
 include ../sections/fusion-section.pug
 include ../sections/kids-section.pug
 include ../sections/teams-section.pug
 include ../sections/pos-section.pug
 include ../sections/contact-section.pug